.navigation {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  padding: 10px 150px 0 150px;
  border-bottom: 1px solid rgb(209, 206, 206);

  /*compass~user 아이콘*/
  .icons i {
    position: relative;
    top: 4px;
    margin-left: 25px;
  }

  /*instagram 아이콘*/
  .insta i {
    position: relative;
    bottom: 4px;
    margin-right: 20px;
  }

  /*westagram*/
  .insta span {
    padding-left: 20px;
    border-left: 2px solid black;
    font-family: 'Lobster', cursive;
    font-size: 25px;
  }

  /*검색창*/

  .search {
    position: relative;
    margin-top: 4px;

    input.searching::placeholder {
      color: rgb(209, 206, 206);
      text-align: center;
    }

    i {
      position: absolute;
      top: 13px;
      left: 85px;
      color: rgb(209, 206, 206);
    }

    input {
      width: 230px;
      padding: 5px 15px;
      border: 1px solid rgb(209, 206, 206);
      border-radius: 3px;
    }
  }
}

main {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 100px 0px 100px;

  /*feeds 전체 테두리*/
  div.feeds {
    position: relative;
    bottom: 10px;
    width: 550px;
    height: 830px;
    border: 1px solid rgb(192, 191, 191);
    border-radius: 3px;

    /*위코드 프로필*/

    .meProfile {
      display: flex;
      position: relative;
      height: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;

      .profileImage {
        width: 45px;
        height: 45px;
        margin-right: 10px;
        overflow: hidden;
        border-radius: 70%;
      }

      /*위코드 ID*/
      .meId {
        display: flex;
        flex-direction: column;
        margin-top: 3px;

        span.meName {
          font-weight: bold;
        }

        span.meDesc {
          position: absolute;
          top: 23px;
          font-size: 13px;
          font-weight: 600;
        }
      }

      div.dots {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 16px;
        height: 10px;
        background-image: url('../../../assets/kyoungjinLee/instagramicon.png');
        background-position: -58px -372px;
      }
    }

    /*피드 이미지*/

    .meFid img {
      width: 550px;
      height: 550px;
    }

    /*하단 아이콘들*/
    .bottomIcon {
      display: flex;
      position: relative;
      height: 30px;
      margin-top: 5px;

      .icons {
        width: 25px;
        height: 25px;
        margin-left: 5px;
      }

      /*comment 좌우반전*/
      .comment {
        transform: scaleX(-1);
      }

      .scrap {
        position: absolute;
        right: 10px;
        width: 25px;
        height: 25px;
      }

      .iconButton {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        padding: 0;
        border: none;
        background-color: rgb(255, 255, 255);

        .like {
          margin-left: 0;
        }
      }
    }

    /*~이 좋아합니다*/
    .likey {
      position: relative;
      margin-top: 10px;
      margin-left: 15px;

      .likeyimage {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 50%;
      }

      .likeComment {
        position: absolute;
        bottom: 5px;
      }
    }

    .bold {
      font-weight: bold;
    }

    /*나 핫걸~*/
    div.feedComment {
      margin-top: 10px;
      margin-left: 15px;
      font-size: 15px;

      .comment1 {
        position: relative;
        margin-top: 5px;

        .commentList {
          list-style: none;

          li {
            padding-top: 10px;
          }

          img {
            position: absolute;
            right: 10px;

            width: 15px;
            height: 15px;
            border: none;
            background-color: rgb(255, 255, 255);
          }
        }

        .commentHeart {
          position: absolute;
          right: 10px;
          padding: 2px 0 0 0;
          border: none;
          background-color: rgb(255, 255, 255);

          img.smallHeart {
            width: 15px;
            height: 15px;
            /*filter: invert(86%) sepia(12%) saturate(13%) hue-rotate(320deg)
            brightness(83%) contrast(81%);*/
          }
        }
      }

      .time {
        margin-top: 5px;
        color: rgb(163, 163, 163);
        font-size: 13px;
      }
    }

    /*댓글 창*/
    div.getComment {
      display: flex;
      position: absolute;
      bottom: 0;

      input {
        width: 548px;
        padding: 13px 15px;
        border: none;
        border-top: 1px solid rgb(192, 191, 191);
      }

      input::placeholder {
        color: rgb(182, 181, 181);
        font-weight: bold;
      }

      /*게시 버튼*/
      button#게시 {
        position: absolute;
        top: 12px;
        right: 7px;
        border: none;
        background-color: rgb(255, 255, 255);
        color: rgb(117, 209, 245);

        &:hover {
          color: blue;
        }
      }
    }
  }

  /*오른쪽 전체*/
  .mainRight {
    position: relative;
    width: 350px;
    height: 700px;

    /*오른쪽 al_zar 프로필*/
    .rightMe {
      display: flex;
      height: 50px;
      margin-bottom: 20px;
      margin-left: 5px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      span {
        margin-left: 10px;
      }

      .meName {
        font-weight: bold;
      }

      .meDesc2 {
        position: absolute;
        top: 25px;
        left: 50px;
      }
    }

    /*스토리 피드*/

    /*스토리 & 회원 추천 공통 테두리*/
    .storyFeed,
    .recommendFeed {
      position: relative;
      margin-bottom: 20px;
      padding: 15px 15px 0 15px;
      overflow: hidden;
      border: 2px solid rgb(223, 222, 222);
      border-radius: 5px;

      /*스토리&회원님을 위한 추천 글자 색 변경*/
      span.rightTop {
        color: rgb(146, 141, 141);
      }

      /*(공통)모두 보기 버튼*/

      button.seeAll {
        position: absolute;
        right: 15px;
        border: none;
        background-color: transparent;
        font-size: 17px;
        font-weight: bold;
      }

      /*스토리&회원 목록 공통 style 적용*/
      ul li {
        display: flex;
        position: relative;
        margin-bottom: 13px;
        list-style: none;

        /*위스타 ID 밑 글씨 공통 적용*/
        .storyTime,
        .recommendFollow {
          position: absolute;
          top: 21px;
          left: 55px;
          color: rgb(146, 141, 141);
        }

        span.profile {
          font-weight: bold;
        }
      }
    }

    .storyFeed {
      height: 250px;

      ul {
        padding-left: 0;

        /*스토리 이미지 & 테두리 색*/
        li img {
          width: 45px;
          height: 45px;
          margin-right: 10px;
          padding: 2px;
          border: 2px solid transparent;
          border-radius: 50%;
          background-clip: padding-box, border-box;
          background-image: linear-gradient(#fff, #fff),
            linear-gradient(200deg, rgb(255, 0, 162) 0%, orange 100%);
          background-origin: border-box;
        }
      }

      .storyPeople {
        margin-top: 20px;
      }
    }

    /*회원 추천 목록*/
    .recommendFeed {
      height: 230px;

      ul {
        padding-left: 0;

        li img {
          width: 45px;
          height: 45px;
          margin-right: 10px;
          border-radius: 70%;
        }

        /* 팔로우 버튼*/

        button.follow {
          position: absolute;
          top: 10px;
          right: 0;
          border: none;
          background-color: transparent;
          color: rgba(70, 158, 241, 255);
          font-size: 17px;
          font-weight: bold;
        }
      }

      .recommendList {
        margin-top: 20px;
      }
    }

    .footer {
      color: rgb(146, 141, 141);
      font-size: 15px;

      p {
        padding-top: 5px;
      }
    }
  }
}

/*댓글 창 javascript에서 클래스 주는 용도*/

.js {
  position: relative;
  padding-bottom: 2px;
}

.forJs {
  padding-left: 5px;
  font-size: 15px;
}

.jsHeart {
  /*position: absolute;
    top: 4px;
    right: 10px;*/
  filter: invert(86%) sepia(12%) saturate(13%) hue-rotate(320deg)
    brightness(83%) contrast(81%);
}
