.loginBtn {
  width: 260px;
  height: 40px;
  margin: 5px 0 60px;
  border: none;
  border-radius: 5px;
  background-color: #a2cdea;
  color: #ffffff;
  font-weight: 600;
  line-height: 40px;
}

.loginBtnOn {
  background-color: #4cb5f9;
  cursor: pointer;
}
